#include "resource.h"

IDR_MAINFRAME MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       IDM_EXIT
    END
    POPUP "&Tools"
    BEGIN
        MENUITEM "&Options",                    IDM_OPTIONS
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About",                      IDM_ABOUT
    END
END
